*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000;
}

.menu-cap-1{
    background-color: #ccc;
    width: 100%;
    display: flex;
}
.option{
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
}
.option:hover{
    background-color: blue;
}
.option:hover .link{
    color: greenyellow;
}
.menu-cap-2{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: aqua;
    width: 150px;
    display: none;
}
@keyframes running {
    from {top: 150%; left: -100px;}
    to {top:100%; left: 0};
}

.option:hover .menu-cap-2{
    display: block;
}
.option:hover .menu-cap-2{
    animation-name: running;
    animation-duration: 2s;
}
.menu-cap-3{
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    background-color: bisque;
}
.option:hover > .menu-cap-3{
    display: block;
}
.active{
    background-color: red;
}
.d-flex{
    display: flex;
}
.logo img{
    width: auto;
    height: 40px;
}
.banner img{
    width: 100%;
}
.list-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}