*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.main-menu{
    display: flex;
    background-color: rgb(58, 215, 68);
    border-radius: 5px;
    width: 100%;
}
.main-menu .option-menu{
    padding: 8px 20px;
    border-right: 1px solid;
}
.c-blue{
    color: blue;
}
.main-menu .option-menu:last-child{
    border-right: 0;
}
/* .main-menu .option-menu:nth-child(2n){
    border-right: 0;
} */
.main-menu .option-menu:hover a{
    color: rgb(246, 255, 0);
}
.main-menu .option-menu .option:hover{
    color: red;
}
.mega-menu{
    
    position: absolute;
    background-color: rgb(198, 227, 9);
    top: 100%;
    left: 0;
    display: none;
    width: 150px;
}
.option-menu{
    position: relative;
}
.main-menu > .option-menu:hover .mega-menu{
    display: block;
}
/* 
<div class="div1">
    <div class="div2">
        <div class="div3">

        </div>
    </div>
</div>
<div class="div4">
    <div class="div2">
        <div class="div3">

        </div>
    </div>
</div>

*/


.div4 .div2:hover .div3{
    display: none;
}