<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thẻ bố cục và nội dung</title>
</head>
<body>
    <!-- start header -->
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#">Trang chủ</a>
                </li>
                <li>
                    <a href="#">HTML</a>
                </li>
                <li>
                    <a href="#">CSS</a>
                </li>
                <li>
                    <a href="#">JS</a>
                </li>
                <li>
                    <a href="#">C#</a>
                </li>
            </ul>
        </nav>

    </header>
    <!-- end header -->

    <!-- start body -->
    <section>
        <pre>
            I, Mục tiêu: 
                1, Nắm và dụng đc các phương pháp chia bố cục và nội dung website hợp lý
                2, sử dụng thành thao các element thông dụng 
        </pre>
        <div>
            <label for="username">username</label>
            <input type="text" name="username" id="username">
        </div>
    </section>
    <!-- end body -->

    <!-- start footer -->
    <footer>

    </footer>
    <!-- end footer -->

</body>
</html>