<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review table & form</title>
</head>
<body>
    <h1>Tổng quan:</h1>
    <pre>
        I, Table - bảng
            1, cú pháp - cấu trúc: table > thead - tbody - tfoot 
                                            tr > th/td 
            2, các thuộc tính thường dùng: rowspan, colspan,...
        
        II, Form - biểu mẫu: 
            1, cú pháp - cấu trúc: 
                form: + method
                      + action
            2, các thẻ nhập liệu: 
                input: type(text, number, date, password,...)
                select: option
                textarea:
                *) lưu ý:   + với input thì mặc định type là text
                            + các thuộc tính trong input, select, textarea 
                                    - name: quy định vùng lựa chọn
                                    - id, class, attr-custom: xác định element
                                    - value != placeholder và value != nội dung của option 
            3, submit, reset form
                element thường dùng: input/button với type tương ứng => page sẽ bị load lại 
                                     button vói type="button"        => page sẽ ko bị load lại 
    </pre>
</body>
</html>