<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
</head>
<body>
    <!-- start header -->
    <header>
        <nav>
            <div style="background-color: red;">
                <ul style="display: flex; list-style:none">
                    <li style="padding: 8px 12px; margin-left: 120px">
                        <a href="#">Trang chủ</a>
                    </li>
                    <li style="padding: 8px 12px;">
                        <a href="#">Sản phẩm</a>
                    </li>
                    <li style="padding: 8px 12px;">
                        <a href="#">Dịch vụ</a>
                    </li>
                    <li style="padding: 8px 12px;">
                        <a href="#">Tin tức</a>
                    </li>
                    <li style="padding: 8px 12px;">
                        <a href="#">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- start body -->
    <section>
        <!-- banner -->
        <div>
            <img src="https://devmaster.edu.vn/landing_page/php/devmaster-banner-php.jpg" alt="demo">
        </div>

        <!-- chi tiết bài viết  -->
        <div>
           <div>
                <h1>Bài viết của tôi</h1>
           </div>

            <div>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore distinctio animi quisquam, voluptate accusamus quis perferendis recusandae. Deserunt unde molestiae nostrum provident libero ducimus? Quae adipisci sunt culpa saepe quasi?
                </p>
            </div>
        </div>

        <!-- giao diên liên hệ -->
        <div>
            <div>
                <h2>Liên hệ</h2>
            </div>
            <!-- mô tả -->
            <div> 
                <div>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus deserunt similique et aliquam nam, ullam debitis architecto mollitia. Commodi nesciunt earum facilis minima iure nemo, enim unde iusto veritatis assumenda.
                    </p>
                </div>
                <div>
                    <img src="" alt="">
                </div>
            </div>
            <!-- end mô tả -->
            <div>
                <form action="">
                    <input type="text" placeholder="test">
                </form>
            </div>
        </div>


        <div>
            <div>
                <h2>My Video</h2>
            </div>
            <div>
                <video controls loop autoplay >
                    <source src="https://cdn.realtech.com.vn/uploads/1/news/2023/0/86/updat1.mp4" type="video/mp4">
                </video>
            </div>

            <div>
                <iframe width="1060" height="705" src="https://www.youtube.com/embed/WwcobsXpfdM?si=f6Ne3LqZs6SScpbK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <!-- end body -->

    <!-- start footer -->
    <footer>
        
    </footer>
    <!-- end footer -->
</body>
</html>