<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EX2</title>
    <link rel="stylesheet" href="../Css/ex2.css">
</head>
<body>
    <header>header</header>
    
    <section class="content">
        <div class="nav">
            nav
        </div>
        <div class="body">
            <div class="left">
                left
            </div>
            <div class="center">
                center
            </div>
            <div class="right">
                right
            </div>
        </div>
    </section>

    <footer>
        footer
    </footer>
</body>
</html>