<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../Css/ex3.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul class="main-menu">
                <li class="option-menu">
                    <a href="#" class="option c-blue">Trang chủ</a>
                    <div class="mega-menu">
                        <ul class="menu-2">
                            <li class="option-menu">
                                <a href="#" class="option c-blue">Trang chủ</a>
                                <!-- menu con trang chủ -->
                            </li>
                            <li class="option-menu">
                                <a href="#" class="option">Sản phẩm</a>
                                <!-- menu con sp -->
            
                            </li>
                            <li class="option-menu">
                                <a href="#" class="option">Dịch vụ</a>
                            </li>
                            <li class="option-menu">
                                <a href="#" class="option">Tin tức</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="option-menu">
                    <a href="#" class="option">Sản phẩm</a>
                </li>
                <li class="option-menu">
                    <a href="#" class="option">Dịch vụ</a>
                    <div class="mega-menu">
                        <ul class="menu-2">
                            <li class="option-menu">
                                <a href="#" class="option c-blue">Trang chủ</a>
                                <!-- menu con trang chủ -->
                            </li>
                            <li class="option-menu">
                                <a href="#" class="option">Sản phẩm</a>
                                <!-- menu con sp -->
            
                            </li>
                            <li class="option-menu">
                                <a href="#" class="option">Dịch vụ</a>
                            </li>
                            <li class="option-menu">
                                <a href="#" class="option">Tin tức</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="option-menu">
                    <a href="#" class="option">Tin tức</a>
                </li>
            </ul>
            
        </nav>
    </header>


    <div class="div1">
        <div class="div2">
            <div class="div3">

            </div>
        </div>
    </div>
</body>
</html>