<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS basic</title>
</head>
<body>
    <header></header>

    <section>
        <h1>
            Tổng quát: 
        </h1>
        <pre>
            I, Khái niệm và Mục đích
            II, Lợi ích: 
                4 lợi ích: tách biệt code
                           giảm thiểu code 
                           tái sử dụng
                           khai báo dễ dàng
            III, Tổng quan: 
                1, Nắm đc cách sử dụng css cơ bản: 
                    - hiểu đc css dùng để làm gì(4)
                    - biết cách tạo và sử dụng css cơ bản (ghi nhớ & phân loại css)
                    - NẮM ĐƯỚC CÚ PHÁP VIẾT CSS (cách thức, độ ưu tiên)
                2, Thực hành các thuộc tính css cơ bản 
                    - kết hợp các thuộc tính
                    - triển khai các bài tập thực hành cụ thể: menu(đa cấp - mega); 
                                                                các thẻ đối tượng (sản phấm /bài viết)
        </pre>
    </section>

    <footer></footer>
</body>
</html>