<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Form:</h1>
    <pre>
        I, Mục tiêu:
        - Cấu trúc 
        - Cú pháp tạo form
        - Danh sách các element nhập liệu
        - Ứng dụng các element nhập liệu hoàn thiện form
    </pre>


    <form action="" method="" enctype="" id="form" class="form" data-dev="">
        <div>
            <input type="text" placeholder="Họ và tên">
            <input type="text" value="Devmaster">
            <input type="number" value="5">
            <input type="password" value="abcd">
        </div>
        <div>
            <input type="date">
            <input type="radio" name="gender" value="nam" checked> Nam
            <input type="radio" name="gender" value="nam"> Nữ
            <input type="radio" name="gender2" value="khac"> Khác
        </div>
        <div>
            <input type="checkbox" name="so_thich" checked> bóng đá
            <input type="checkbox" name="so_thich" checked> bóng chuyền
            <input type="checkbox" name="so_thich"> bóng bàn
            <input type="checkbox" name="so_thich"> bi a
            <input type="checkbox" name="so_thich-5"> bi lắc
            <input type="checkbox" name="so_thich-4"> game

            <input type="submit" name="" value="click dev">
        </div>
        <!-- <select name="" id="">
            <option value=""></option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea> -->
    </form>


    <hr>
    <form id="login">
        <div>
            <label for="email">Nhập email</label>
            <input type="email" name="email" placeholder="Email" style="width: 250px; padding: 4px 8px">
        </div>
        <div>
            <input type="password" name="password" placeholder="Mật khẩu" style="width: 250px; padding: 4px 8px">
        </div>
        <div>
            <input type="submit" name="submit" value="Đăng nhập" style="width: 270px; padding: 4px 8px; margin-top: 20px">
        </div>
    </form>

    <hr>
    <select name="select" id="select">
        <option value="0">thành phố Hải Phòng</option>
        <option value="1" selected>Thủ đô Hà Nội</option>
    </select>

    <textarea name="string" id="string" cols="30" rows="10"></textarea>
</body>
</html>