<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Review less 01</h1>
    <pre>
        1, HTML là gì? - ko phải là 1 ngôn ngữ lập trình
        2, Cấu trúc của 1 trang html 
            - gồm 2 phần: + head : chứa thẻ meta, thẻ link, thẻ script
                          + body : nội dung trang 
        3, Một số element thông dụng và cách sử dụng:
             Văn bản: tiêu đề, nội dung, biểu diễn đặc biệt,...
             Danh sách: ul-li ; ol-li; dl-dt-dd;
             Siêu liên kết: thẻ a 
             Biểu diễn hình ảnh: img 
             *) đa số các element đều cần có thẻ đóng và mở. 
        4, Các kết hợp element để biểu diễn:  
    </pre>
    
</body>
</html>