<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cách sử dụng css</title>

    <link rel="stylesheet" href="../Css/ex1.css">

    <style>
        header{
            height: 100px;
            width: 100%;
            background-color: blue;
        }
    </style>
</head>
<body class="demo">
    <header class="header" id="header" data-attr="header"></header>

    <section style="color: red;">
        I, Cách tạo file css 
            'tên_file'.'css'
        II, Cách viết css
            1, viết css trên chính các element
                toàn bộ css được đặt trong value của thuộc tính style trên element mở 
            
            2, viết css trong nội dung của element style 
            3, khởi tạo và khai báo file chứa các nội dung css 
                - nắm được quy tác tạo file css 
                - biết cách nhúng file css vào file html 
                - nắm đc cú pháp viết css (selector)
                  +, cú pháp: 
                    'selector' {
                        key: value <=> tên thuộc tính : giá trị thuộc tính
                    }
                  +, ghi chú: selector (gián tiếp) <=> element/class/attr/id 
                                                        (độ ưu tiên tăng dần) hoặc !important hoặc độ chi tiết


    </section>

    <footer></footer>
</body>
</html>