<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>  
    <header class="demo header test devmaster-ac" id="test" style="display: none;">
        <h1>Tạo form login</h1>
    </header>


    <section id="test2">
        <div class="form-login" style="background-color: #ccc; width:195px; padding:30px; margin-top: 200px; margin-left: 750px">
            <div class="logo-login">
                <div class="img-logo">
                    <img src="https://devmaster.edu.vn/images/logo.png" alt="logo" style="border-radius: 50%;">
                </div>
            </div>
            <div class="content-form">
                <form class="form">
                    <div class="form-input">
                        <div class="input-email">
                            <input type="email" placeholder="Email" name="email" id="email" style="padding: 4px;width: 180px;border: 1px solid red; border-bottom: 0">
                        </div>
                        <div class="input-password">
                            <input type="password" placeholder="Mật khẩu" name="password" id="password" style="padding: 4px;width: 180px;border: 1px solid red;">
                        </div>
                    </div>

                    <div class="form-button">
                        <button type="button" style="margin-top: 12px;margin-bottom:8px; width: 190px; text-align:center; padding:5px 0 5px 0; background: blue; color: #ffffff; border-radius: 4px">Đăng nhập</button>
                    </div>

                    <div class="form-help">
                        <a href="#" title="help" style="text-decoration: none;">Bạn cần trợ giúp?</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer>

    </footer>
</body>
</html>