<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review html less04</title>
</head>
<body>
   
    <header>

    </header>

    <section>
        <div>
            <pre>
                I, Cấu trúc của một file html 
                    - head 
                    - body
                
                II, table & from: cú pháp & ứng dụng
                    1, tbale 
                        - cú pháp: table > thead/tbody/tfoot > tr > th/td > element
                        - các thuộc tính ứng dụng => xây dựng len table:
                            + gom cột, gom ô, tạo viền, tạo khoảng cách
                    2, form: 
                        - cú pháp: form > element(...)
                        - một số thuộc tính tiêu biểu trong form: action, method,...
                III, Phân chia bố cục và nội dung:
                    *) cấu trúc của một thân website thông thường: header - section - footer 
                    header: thường sẽ là chứa các lựa chọn điều hướng => sử dụng kết hợp với nav  (layout)
                    section: kết hợp của tất thảy các element
                    footer : thường là các thông tin ghi chú.... (layout)

                    *) Vận dụng phân chia bố cục nội dung cho từng thành phần hợp lý
            </pre>
        </div>
    
    </section>

    <footer>

    </footer>
</body>
</html>